body {
    font-family: 'Courier Prime', monospace;
    background-color: #D9BBA9 ;
    } 

main {
    
    margin: 0px auto 0px;
    }

h1 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: regular;
    color: #2A5943;
       
}

form label {
    display:block;
    margin-bottom: 10px;
}

form input,
form button {
line-height: 20px;
padding: 5px;
font-size: 15px;
border:2px solid #2A5943;
border-radius: 5px;

}

button {
background-color:#D9895B;
color: whitesmoke;
border: 2px solid #2A5943;
border-radius: 5px;
}

ul{
    list-style: none;
    padding: 0 1.5vh;
    
}

ul li{
    border: 8px solid whitesmoke;
    margin: 30px 0;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #2A5943;
}


ul li .img {
    width: 250px;
    height: auto;
    padding: 0px 0;
    
    
}

ul li h3{
    font-weight: 700;
    font-size: bold;
    font-style: italic;
    line-height: 30px;
}

ul li p{
        text-align: left;
        padding: 0 15px;
}

#add  {
    text-align: center;
    align-items: center;
    justify-content: center;
}
    
#add label {
    line-height: 30px;
}

#add input {
    margin-bottom: 25px;
    
}

#add button {
    display:block;  
    position:relative;
    left:44%;
}


@media (min-width: 568px) {
    body {
        font-family: 'Courier Prime', monospace;
        background-color: #D9BBA9 ;
        text-align: center;
        align-items: center;
    }   
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
    }
  }